**/bin/*
**/obj/*
*.pdb
*.cache
*.blob
**/.idea/**/*
Src/TestFiles/packages/**/*
**/*.suo

Src/TestFiles/net461.TestLib/Content/

Src/TestFiles/net461.TestLib/fonts/

Src/TestFiles/net461.TestLib/Scripts/

*.user
**/.vs/*

*.sqlite
/Src/NuGetDefense/Properties/launchSettings.json
